@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
}
.custom-alert {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .success {
    background-color: #4caf50;
    color: #fff;
  }
  
  .error {
    background-color: #f44336;
    color: #fff;
  }